<html>
<head>
    $webResourceManager.requireResourcesForContext("com.example.beersupply")
    <script type="text/javascript">
        var rateBeer = function(rating)
        {
            jQuery.ajax("${requestContext.baseUrl}/rest/beersupply/1.0/beer/${issueKey}/rate",
                    {
                        'data':rating
                        ,'type':'POST'
                        ,'processData':false
                        ,'dataType':'json'
                        ,'contentType':'application/json'
                        ,'success': function(data)
                    {
                        jQuery('input[value="' + rating + '"]').attr('checked',true);
                    }
                    });
        }
        
        AJS.toInit(function(){
            jQuery('input[name="averageRadio"]').bind('click',function(event){
                jQuery(this).attr('checked',false);
                
                event.preventDefault();
                event.stopImmediatePropagation();
            });

            jQuery('input[name="myRadio"]').bind('click',function(event){
                var rating = jQuery(this).val();
                rateBeer(rating);
            });
        });
    </script>
</head>
<body>
$i18n.getText("beer-supply.average-rating.field.name"):<br/> 
<div id="average" style="float:left;">
    1 <input type="radio" name="averageRadio" id="average1" value="1.0" />
    2 <input type="radio" name="averageRadio" id="average2" value="2.0" />
    3 <input type="radio" name="averageRadio" id="average3" value="3.0" />
    4 <input type="radio" name="averageRadio" id="average4" value="4.0" />
    5 <input type="radio" name="averageRadio" id="average5" value="5.0" />
</div>
<p />
<br clear="all"/>
$i18n.getText("beer-supply.my-rating.name"):<br/> 
<div id="myRating" style="float:left;">
    1 <input type="radio" name="myRadio" id="my1" value="1.0" />
    2 <input type="radio" name="myRadio" id="my2" value="2.0" />
    3 <input type="radio" name="myRadio" id="my3" value="3.0" />
    4 <input type="radio" name="myRadio" id="my4" value="4.0" />
    5 <input type="radio" name="myRadio" id="my5" value="5.0" />
</div>
</body>
